.banner_content {
	text-align: left !important;
	max-width: 512px !important;
}

.banner_content h5 {
	margin: 0 !important;
	max-width: 512px !important;
}

.banner_area .banner_inner .banner_content h2 {
      color: #fff;
      text-align: left !important;
      font-size: 48px;
      font-family: "Roboto", sans-serif;
      margin-bottom: 0px;
      font-weight: 500; 
  }

    .banner_area .banner_inner .banner_content p {
      color: #ffffff;
      text-align: left !important;
      margin-bottom: 24px; 
  }